			<%= image_tag("blank_profile.png", height: "400", width: "450") %>
          <span class="">New Child<i class=""></i></span>
		        	<ul class="">
		        		<li class=""><a href="#child" class="">Add Child</a></li>
		        		<li class=""><a href="#guardian">Add Guardian</a></li>
		        		<li class=""><a href="#school">Add School</a></li>
		      		</ul>
          	<div id="child" class="">
          		<%= render :partial => "child_form" %>
          	</div>

          	<div id="guardian" class="">
            	<%= render :partial => "guardian_form" %>
            </div>

            <div id="school" class="col s12">
          		<%= render :partial => "school_form" %>
          	</div>
