<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_district.name %>
</p>

<%= link_to 'Edit', edit_school_district_path(@school_district) %> |
<%= link_to 'Back', school_districts_path %>
