
		<%= f.text_field :username %>
      	<label for="icon_prefix">Username</label>
		<%= f.password_field :password %>
	   	<label for="icon_prefix">Password</label>
		<%= f.password_field :password_confirmation %>
       	<label for="icon_prefix">Password Confirmation</label>
		<%= f.select :role, User::ROLES %>
