      <br><br>
      <h3 class="">Instructors</h3>
		<table class="table table-condensed">
		        <thead>
		          <tr>
		              <th data-field="name">First Name</th>
		              <th data-field="name">Last Name</th>
		              <th data-field="programs">Programs</th>
		          </tr>
		        </thead>

		        <% @instructors.each do |instructor| %>
		        <tbody>
		        	<tr>
		        	<td><%= link_to instructor.first_name, instructor_path(instructor) %></td>
		        	<td><%= link_to instructor.last_name, instructor_path(instructor) %></td>	
		        </tr>
		        </tbody>
		        <% end %>
		</table>
		<br><br>

		<button  type="button" class="btn btn-default">
		<%= link_to 'New Instructor', new_instructor_path %>
		</button></br></br>