<h3 class="">Instructors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="programs">Programs</th>
    </tr>
  </thead>

  <tbody>
  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.first_name + " " + instructor.last_name, instructor_path(instructor) %></td>
      <td>Programs</td>
      <% if can? :update, @instructor %>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
      <% end %>
  </tr>
  <% end %>
  </tbody>
</table>

<br><br>

<button  type="button" class="btn btn-default">
<%= link_to 'New Instructor', new_instructor_path %>
</button></br></br>
