
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" id="pad-left"> HCEF</a>
      <ul class="right hide-on-med-and-down" id="pad-right">
        <li class="top-pad"><%= link_to "Add Program", new_program_path %></li>
        <li class="top-pad"><%= link_to "View Programs", programs_url %></li>
        <li class="top-pad"><%= link_to "Add Child", new_child_path %></li>
      </ul>
    </div>
  </nav>
