  <h2 align="center">HCEF</h2>
  </br></br>

<div class="row">

  <div id='home-panels'> 
    <div class="col-lg-4 col-lg-offset-2 col-sm-12">
    	<div class="panel panel-success">
        <div class="panel-heading">Looking for our main site?</div>
        <div class="panel-body">
          <h5 align="center"><a href="http://www.homelessfund.org"> www.homelessfund.org</a><h5></br>
          <h4 align="center"> Creating Hope Through Learning </h4>
        </div>
    	</div>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-success">
          <div class="panel-heading">Contact Us</div>
          <div class="panel-body">
            <p>2020 Smallman Street, 2nd Floor</p>
            <p>Pittsburgh, PA 15222</p>
            <p>Phone: (412) 562-0154</p>
            <p>Fax: (412) 562-1109</p>
          </div>
          </div>
     </div>
   </div>

</div></br>

