  <h1>BETA</h1>
  <p>We are currently in beta mode.</p></br></br>

<div class="row">

  <div id='home-panels'> 
    <div class="col-lg-4">
    	<div class="panel panel-success">
        <div class="panel-heading">Looking for our main site?</div>
        <div class="panel-body">
          <a href="http://www.homelessfund.org"> www.homelessfund.org</a>
        </div>
    	</div>
    </div>

    <div class="col-lg-4">
    	<div class="panel panel-success">
          <div class="panel-heading">Creating Hope Through Learing</div>
          <div class="panel-body">
            <p> Our mission is to advance the education of children and youth in Allegheny County</p>
        </br></br></br>
          </div>
          </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
          <div class="panel-heading">Contact Us</div>
          <div class="panel-body">
            <p>2020 Smallman Street, 2nd Floor</p>
            <p>Pittsburgh, PA 15222</p>
            <p>Phone: (412) 562-0154</p>
            <p>Fax: (412) 562-1109</p>
          </div>
          </div>
     </div>
   </div>

</div></br>

<div class="row">
    
    <div class="col-lg-4">
        <div class="well well-lg">
          <p><b>Dr. Joseph Lagana</b></p>
          <p> Founder </p>
        </div>
    </div>

    <div class="col-lg-4">
    	<div class="well well-lg">
          <p><b>William Wolfe</b></p>
          <p> Executive Director </p>
        </div>
    </div>

    <div class="col-lg-4">
    	<div class="well well-lg">
          <p><b>Laura Bailey</b></p>
          <p> Director of Educational Initiatives </p>
        </div>
    </div>

</div></br>
