<div class="container">
	<div class="col l8 m10 s12">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<%= image_tag("blank_profile.png", class: "activator", height: "400", width: "450") %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">New Child<i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
        	<div class="row">
    			<div class="col s9">
		        	<ul class="tabs">
		        		<li class="tab col s3"><a href="#child" class="active">Add Child</a></li>
		        		<li class="tab col s3"><a href="#parent">Add Parent</a></li>
		        		<li class="tab col s3"><a href="#school">Add School</a></li>
		      		</ul>
		      	</div>
		      	<div class="col s3">
		      		<span class="card-title grey-text text-darken-4"> <i class="mdi-navigation-close right"></i></span>
		      	</div>
		      	
          
        		<div id="child" class="col s12">
					<form class="col s12" action="#">
						<div class="row">
							<div class="input-field col l6 m6 s12">
								<i class="mdi-action-account-circle prefix"></i>
				        		<input id="icon_prefix" type="text" class="validate">
				        		<label for="icon_prefix">First Name</label>
							</div>
							<div class="input-field col l6 m6 s12">
								<i class="mdi-action-account-circle prefix"></i>
				        		<input id="icon_prefix" type="text" class="validate">
				        		<label for="icon_prefix">Last Name</label>
							</div>
						</div>
						<div class="row">
							<div class="col l6 m6 s12">
								<label>Parent/Guardian</label>
								<input type="text" list="parents">
							</div>
							<div class="col l4 m6 s12">
								<label>School</label>
			  					<select>
								    <option value="" disabled selected>Choose child's school</option>
								    <option value="1">Gateway</option>
								    <option value="2">Woodland Hills</option>
								    <option value="3">Bethal Park</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="input-field col l4 m6 ">
								<input type="date" class="datepicker">
								<label>Date of Birth</label>
							</div>
							<div class="input-field col l6 m6 s8 offset-l2">
								<p class="range-field">
									Grade:
				    				<input type="range" id="grade" min="0" max="12" />
				  				</p>
				  			</div>
						</div>
						<div class="row">
							<div class="col l4 offset-l2">
								<div class="switch">
							    <label>
							      Active
							      <input type="checkbox">
							      <span class="lever"></span>
							      Inactive
							    </label>
								</div>
							</div>
							<div class="col l4 offset-l2">
								  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
								    <i class="mdi-content-send right"></i>
								  </button>
							</div>
						</div>
					</form>
				</div>

				<div id="parent" class="col s12"></br></br>
					<form class="col s12" action="#">
						<div class="row">
							<div class="input-field col l6 m6 s12">
								<i class="mdi-action-account-circle prefix"></i>
				        		<input id="icon_prefix" type="text" class="validate">
				        		<label for="icon_prefix">First Name</label>
							</div>
							<div class="input-field col l6 m6 s12">
								<i class="mdi-action-account-circle prefix"></i>
				        		<input id="icon_prefix" type="text" class="validate">
				        		<label for="icon_prefix">Last Name</label>
							</div>
						</div></br></br>
						<div class="row">
							<div class="input-field col s6">
						        <i class="mdi-communication-phone prefix"></i>
						        <input id="icon_telephone" type="tel" class="validate">
						        <label for="icon_telephone">Telephone</label>
						    </div>
						    <div class="input-field col s6">
						        <input id="email" type="text">
						        <label for="email">Email</label>
						    </div>
						</div></br></br>
						<div class="row">
							<div class="col s3 offset-s8">
								  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
								    <i class="mdi-content-send right"></i>
								  </button>
							</div>
						</div>
					</form>
				</div>

				<div id="school" class="col s12"></br>
					<form class="col s12" action="#">
						<div class="row">
							<div class="input-field col l6 m6 s12">
								<i class="mdi-action-account-circle prefix"></i>
				        		<input id="icon_prefix" type="text" class="validate">
				        		<label for="icon_prefix">Name</label>
							</div>
							<div class="input-field col s6">
						        <i class="mdi-communication-phone prefix"></i>
						        <input id="icon_telephone" type="tel" class="validate">
						        <label for="icon_telephone">Phone</label>
						    </div>
						</div></br>
						<div class="row">
						    <div class="input-field col s6">
						        <input id="addr_one" type="text">
						        <label for="addr_one">Address</label>
						    </div>
						    <div class="input-field col s6">
						        <input id="city" type="text">
						        <label for="city">City</label>
						    </div>
						    <div class="input-field col s6">
						        <input id="state" type="text">
						        <label for="state">State</label>
						    </div>
						    <div class="input-field col s6">
						        <input id="zip" type="text">
						        <label for="zip">Zip Code</label>
						    </div>
						</div>
						<div class="row">
							<div class="col s3 offset-s8">
								  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
								    <i class="mdi-content-send right"></i>
								  </button>
							</div>
						</div>
					</form>
				</div>


		</div>			
		</div>
    </div>
	</div>

<datalist id="parents">
	<option value="Mark Ceaser | 6/7/1968">
	<option value="Joanne Lever | 4/15/1987">
	<option value="Eric Johnson | 5/22/1975">
	<option value="Ann Shoemacker | 8/19/1976">
	<option value="Bill Ivy | 1/4/1965">
	<option value="John Carol | 5/6/1984">
	<option value="Denise Cerelli | 7/7/1982">
	<option value="Eric Johnson | 6/18/1980">
	<option value="Jennifer Mable | 5/18/1981">
</datalist>
</div>

<!-- Must move these scripts after demo to prevent javascript attacks -->
<script> $('.datepicker').pickadate();</script>
<script> $(document).ready(function() {
    $('select').material_select();
    $('ul.tabs').tabs();
  });
</script>


