<div id='main-container'>
<!--
<div class='row'>

  <div class='col s2'>
    <div class='sidebar'>
      <ul id="nav-mobile" class="side-nav fixed">
      <h5>Locations</h5>
        <li><a href='#'>All</a></li>
        <li><a href='#'>Location 1</a></li>
        <li><a href='#'>Location 2</a></li>
        <li><a href='#'>Location 3</a></li>
        <li><a href='#'>Location 4</a></li>
        <li><a href='#'>Location 5</a></li>
      <h5>Partners</h5>
        <li><a href='#'>All</a></li>
        <li><a href='#'>Partner 1</a></li>
        <li><a href='#'>Partner 2</a></li>
        <li><a href='#'>Partner 3</a></li>
        <li><a href='#'>Partner 4</a></li>
        <li><a href='#'>Partner 5</a></li>
      </ul>
    </div>
  </div>

  <div class='col s10'>
    <a class="waves-effect waves-light btn">After School</a>
  </div>

</div>
<ul id='' class='side-nav fixed'>
  <li class='bold'>Programs</li>
  <li ><a href='#!' class=''>About</a></li>
  <li class='bold'>Partners</li>
  <li class='bold'><a href='#!' class=''>About</a></li>
</ul>

-->
<div class='row'>
  <div class='col s2'>
    <div id='sidebar'>
    <ul id='' class='side-nav fixed'>
    <h5>Programs</h5>
      <li><a href='#!'>Allegheny Elemetary</a></li>
      <li><a href='#!'>Mt. Lebanon K-8</a></li>
      <li><a href='#!'>Arlington Tots</a></li>
      <li><a href='#!'>Fulton PreK-5</a></li>
    <h5>Partners</h5>
      <li><a href='#!'>Lab Rats</a></li>
      <li><a href='#!'></a></li>
    </ul>
    </div>
  </div>
  <div class='col s10'> 
    <div id='info-container'>
    <div id='info-nav'>
    <p>Hello</p>
    </div>
    </div>
  </div>
</div>

</div> <!-- main-container -->
