<div id='main-container'>
<div class='row'>

  <div class='col s2'>
    <div class='sidebar'>
      <ul id="nav-mobile" class="side-nav fixed">
      <h5>Locations</h5>
        <li><a href='#'>All</a></li>
        <li><a href='#'>Location 1</a></li>
        <li><a href='#'>Location 2</a></li>
        <li><a href='#'>Location 3</a></li>
        <li><a href='#'>Location 4</a></li>
        <li><a href='#'>Location 5</a></li>
      <h5>Partners</h5>
        <li><a href='#'>All</a></li>
        <li><a href='#'>Partner 1</a></li>
        <li><a href='#'>Partner 2</a></li>
        <li><a href='#'>Partner 3</a></li>
        <li><a href='#'>Partner 4</a></li>
        <li><a href='#'>Partner 5</a></li>
      </ul>
    </div>
  </div>

  <div class='col s10'>
    <a class="waves-effect waves-light btn">After School</a>
  </div>

</div>
</div> <!-- main-container -->
