<div class='row'>
<div class='col-xs-9 col-xs-offset-3'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a>AfterSchool</a></li>
      <li><a>Enrichment</a></li>
      <li><a>Field Trip</a></li>
    <ul>
  </div>
</nav>
</div>
</div>

<div class='row'>
<nav class='col-xs-3'>
  <ul id='sidebar1' class='nav nav-stacked fixed'>
  <li>
    <a href='#GroupA'>Group A</a>
    <ul class='nav nav-stacked'>
      <li><a href='#A1'>Sub-Group 1</a></li>
      <li><a href='#A2'>Sub-Group 2</a></li>
    </ul>
  </li>
  <!-- Same for Group B & C -->
  </ul>
</nav>
</div>
