<div class='row' id="no_container">

  <div class='col-xs-6 col-xs-offset-3'>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" >AfterSchool</label>
      <label class="btn btn-primary">
        <input type="radio" >Enrichment</label>
      <label class="btn btn-primary">
        <input type="radio">Field Trip</label>
    </div>
  </div>

  <div id='submit-column' class='col-xs-3'>
    <button type="submit" class="btn btn-default" onclick='return submit()'>Submit</button>
  </div>
</div>

<div class='row'>

<!--TODO search-bar -->

<nav class='col-xs-3'>
<ul id='sidebar1' class='nav nav-stacked fixed'>
  <li id='locations'>
    <a id='locationsText' data-toggle="collapse" href='#groupA'>Locations</a>
    <ul id='groupA' class='nav nav-stacked collapse'>
      <div class="btn-group" data-toggle="buttons">
        <li><label id='locations-all' class='btn btn-primary'><input type='checkbox'> All</li></label>
      
        <% @locations.each do |location| %>
          <li><label class='btn btn-primary parent-button'><input type='checkbox'> <%= location.name %></label>

            <% if !location.sub_locations.empty? %>
              <ul class='nav nav-stacked'>
                <div class="btn-group">
                  <% location.sub_locations.each do |sl| %>
                    <li><label class='btn btn-primary child-button'><input type='checkbox'> <%= sl.name %></label></li>
                  <% end %>
                </div>
              </ul>
            <% end %>
          </li>
        <% end %>
      </div>
    </ul>
          
  <li id='providers'>
    <a data-toggle="collapse" href='#groupB'>Providers</a>
    <ul id='groupB' class='nav nav-stacked collapse'>
      <div class="btn-group" data-toggle='buttons'>
        <li><label class='btn btn-primary'><input type='checkbox'> All</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Sydelle Pearl</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Petrie Dish</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Art Expression, Inc.</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Andy Warhol</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> America's Arts & Music</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Gateway to the Arts</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Lab Ratz</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> Saturday Light Brigade</label></li>
        <li><label class='btn btn-primary'><input type='checkbox'> The Outdoor Classroom</label></li>
      </div>
    </ul>
  </li>
</ul>
</nav>

<div class='col-xs-9'> 

  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody id='table_body'>
    </tbody>
  </table>

</div>
