// Place all the styles related to the AfterSchools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#date {
  width: 280px;
  z-index: 2;
}

#toggleTables {
  display: none;
}

#toggleTables button{
  width: 150px;
}

#hot {
  z-index: 1;
  display: block;
}

#hot_sign_in {
  display: none;
}
