#locationsText {
  background-color: #F2F2F2;
}

#locations {
  background-color: #FBFBFB;
}

#providers {
  background-color: #F2F2F2;
}

/*  text-color: #0078B4; */

/* Parent links */
#sidebar1 li>a {
  font-size: 15px ;
  padding-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Child links */
#sidebar1 .nav>li>a {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Baby links */
#sidebar1 .nav ul>li>a{
  font-size: 11px;
  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#sidebar1 .nav>.active>a {
  color: #563d7c; 
}

/* Hover color */
#sidebar1 .nav > li > a:hover, #sidebar1 .nav > li > a:focus {
  /* background-color: #000; */
}
